body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
    padding: 20px;
}

h1 {
    font-size: 32px;
}

#timer {
    font-size: 30px;
    margin-bottom: 20px;
}

.question {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 14px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
}

#stopScreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    color: red;
    font-size: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}

#stopScreen button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    background: #007bff;
    color: white;
}

/* MOBILOS NAGYÍTOTT NÉZET */
@media (max-width: 600px) {

    body {
        font-size: 20px;
        padding: 15px;
    }

    h1 {
        font-size: 26px;
        line-height: 1.3;
    }

    #timer {
        font-size: 26px;
        margin-bottom: 25px;
    }

    .question {
        padding: 20px;
        font-size: 20px;
    }

    .question h3 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    button {
        font-size: 20px;
        padding: 16px;
        margin: 10px 0;
        border-radius: 10px;
    }

    #resultBox {
        font-size: 24px;
        padding: 30px;
    }

    #stopScreen {
        font-size: 70px;
    }
}
